.about {
    position: relative;
    padding: 15rem 10rem 0 10rem;

    h1 {
        font-family: 'Metropolis', 'Montserrat', 'sans-serif';
        font-size: 4rem;
        color: white;
        margin-bottom: 5rem;
    }
    p {
        font-family: 'Metropolis', 'Montserrat', 'sans-serif';
        font-size: 2rem;
        color: white;
        max-width: 50%;
    }
}